* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', Verdana, sans-serif;
    background: #75b4c0;
    user-select: none;
}

h1 {
    text-align: center;
    color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 50px;
    padding-left: 15%;
}

.item {
    border: 2px solid #070707;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 222px 250px;
    padding: 10px;
    grid-gap: 10px;
}

.item:hover {
    box-shadow: 12px 12px 2px 1px rgba(97, 97, 102, 0.2);
}

.img {
    width: 222px;
    height: 222px;
}

#btns {
    margin: 1.6em;
}

.btn {
    cursor: pointer;
    background-color: lightgreen;
    padding: 1em;
    margin: 0 1.6em;
}